$content-width: 800px;
$main: #297373;
$font-style: 'Ariel', sans-serif;
$font-color: #3a3838;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Ariel', sans-serif;
$heading-font-color: #3a3838;
$light: #E7EDF4;
$header: #E9D758;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
